*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# gtkwave files
*.vcd*

# kdevelop
*.kdev4
.kdev/

# idea shit
.idea/

# backup files
*.sw?
*.bak
*.*~

# latex shit
*.aux
*.log
*.lof
*.lot
*.out
*.synctex.gz
*.toc
*-eps-converted-to.pdf

# assembler binaries
*.s.out
*.s.out.dec
*.s.out.dbg

# lock files
.~lock.*.*#

# verilog + quartus files
*.v
!verilog/*.v
verilog/db
verilog/incremental_db
verilog/greybox_tmp
verilog/output_files
verilog/simulation

# hades Files
*.hds_*
/doc/MK/*.sym*
